@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Clarissa Joy Flores Date Calculator  <a href="/Dates">here.</a>.</p>
</div>
